.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    gap: 10px;
}

button{
    padding: 50px;
    font-size: 30px;
    width: 300px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}